---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "副店长智能体",
    titleBottom: "",
    img: c1,
    alt: "Copilot",
    link: "#",
  },
  {
    index: 2,
    titleTop: "智能营销",
    titleBottom: "",
    img: c2,
    alt: "Marketing",
    link: "#",
  },
  {
    index: 3,
    titleTop: "体验优化",
    titleBottom: "",
    img: c3,
    alt: "Experience",
    link: "#",
  },
  {
    index: 1,
    titleTop: "市场推广",
    titleBottom: "",
    img: c4,
    alt: "SEO",
    link: "",
  },
  {
    index: 2,
    titleTop: "优化管理",
    titleBottom: "",
    img: c5,
    alt: "Success",
    link: "#",
  },
  {
    index: 3,
    titleTop: "智能分析",
    titleBottom: "",
    img: c6,
    alt: "Tracking",
    link: "#",
  },
];

const description =
  "我们实现了专业的数字化智能体服务，由资深行业专家全方位领导，提供帮助用户增长并卓有成效的解决方案。";
---

<Section id="services">
  <div class="mb-5">
    <SectionTitle sectionTitle="服务" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
